<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>E-MARKET</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"href="../../css/style.css" th:href="@{/css/style.css}" />
    <!-- jQuery library -->
    <script src="../../js/jquery-3.6.2.min.js"></script>
    <script src="../../js/mark.js/dist/jquery.mark.min.js" charset="UTF-8"></script>
    <!-- Sweet Alert library -->
    <script src="../../js/sweetalert2.all.min.js"></script>
    <script src="../../js/sweetalert.min.js"></script>
    <!--   Core JS Files   -->
    <script src="../../js/game.js"></script>
    <script src="../../js/scripts.js"></script>
    <!--     Fonts and icons     -->
    <link href="../../fonts/google-fonts/" rel="stylesheet" />
    <link rel="stylesheet" href="../../fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap CSS -->
    <link href="../../bootstrap-5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- <link href="/static/assets/paper-dashboard-master/assets/css/paper-dashboard.css?v=2.0.1" rel="stylesheet" />  -->
</head>

<body>
    <header>
        <!-- Navigation bar -->
        <nav>
            <ul>
                <li><a href="/"><i class="fa fa-fw fa-home"></i>Home</a></li>
                <li><a href="/admin"><i class="fa fa-lock"></i>Admin module</a></li>
                <li><a href="javascript:void(0)"><i class="fa fa-fw fa-user"></i>Signed in</a></li>
                <li><a href="javascript:void(0)" onclick="onSignout();"><i class="fa fa-sign-out"></i>Logout</a></li>
                <li><a href="/login"><i class="fa fa-fw fa-user"></i>Login</a></li>
            </ul>
        </nav>
    </header>
    <!-- Search content -->
    <div id="search">
        <i class="fa fa-search"></i><input type="text" name="search" id="search-icon" size="15"
            placeholder="Search content" onkeyup="filterEntries();" />
    </div>
    <h1 id="welcome">Welcome to e-Market</span></h1>
    <!-- Sort content -->

    <div class="dropdown" id="sort-div">
        <i class="fa fa-sort"></i>
        <button class="dropbtn">Sort content
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/sort/?sort_key=deals">Deals</a>
            <a href="/sort/?sort_key=name_asc"><i class="fa fa-sort-alpha-asc"></i>Alpahbetical order</a>
            <a href="/sort/?sort_key=name_desc"><i class="fa fa-sort-alpha-desc"></i>Alpahbetical order</a>
            <a href="/sort/?sort_key=numeric_desc"><i class="fa fa-sort-numeric-desc"></i>Price:High-Low</a>
            <a href="/sort/?sort_key=numeric_asc"><i class="fa fa-sort-numeric-asc"></i>Price:Low-High</a>
           
        </div>
    </div>
    <!-- Sub content Icons-->
    <div id="icons" class="icons">
        <div class="icon-div"><a href="/map"><i class="fa fa-map-marker"></i><span class="icon-text">Maps</span></a>
        </div>
        <div class="icon-div"><a href="/game"><i class="fa fa-gamepad"></i><span class="icon-text">Games</span></a>
        </div>
        <div class="icon-div"><a href="javascript:void(0)"><i class="fa fa-gift"></i><span
                    class="icon-text">Gift</span></a>
        </div>
        <div class="icon-div"><a href="javascript:void(0)"><i class="fa fa-car"></i><span class="icon-text">Automobile</span></a>
        </div>
        <div class=" icon-div"><a href=" javascript:void(0)"><i class="fa fa-bed"></i><span
                            class="icon-text">Hotels</span></a>
        </div>
        <div class="icon-div"><a href="/news"><i class="fa fa-newspaper-o"></i><span class="icon-text">News</span></a>
        </div>
    </div>

    <!-- Main content -->
    <main id="container_" class="container">
        <!--<img src="/static/images/tech.jpeg" alt="Tech" class="banner" /> -->
       
    </main>
    <!-- Customer Service Footer -->
    <div id="customer" class="customer"><span class="strong">Customer Service: Telephone:</span> | +4740978057 |
        Email:
        <a href="mailto:checkuti@gmail.com">checkuti@gmail.com</a>
    </div>
    <script src="../../bootstrap-5.0.2/dist/js/bootstrap.bundle.js" crossorigin="anonymous"></script>


</body>

</html>