<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>E-MARKET</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
</head>

<body style="background-color: #e9ecef;">
    <!-- Main content -->
    <main id="container_" class="container">
    
    </main>
    <!-- start footer -->
    <table border="0" style="max-width: 600px;">
        <tr>
            <td
                style="padding: 12px 24px; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 20px; color: #666;">
                <p style="margin: 0;">You received this email because we received a request. If you didnt make a request
                    you can safely delete this email.</p>
            </td>
        </tr>
        <tr>
            <td
                style="padding: 12px 24px; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 20px; color: #666;">
                <p style="margin: 0;">E-Commerce Hundvåg Island, 4085, Norway</p>
            </td>
        </tr>

    </table>
    
</body>

</html>


</html>