<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout.html}">
<body>
    <div layout:fragment="content">
        <table border="0">
            <tr>
                <td justify="center">
                    <table border="0" style="max-width: 600px;">
                        <tr>
                            <td
                                style="padding: 36px 24px 0; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; border-top: 3px solid #d4dadf;">
                                <h1
                                    style="margin: 0; font-size: 32px; font-weight: 700; letter-spacing: -1px; line-height: 48px;"  th:text="#{Welcome (${username})}">
                                 </h1>
                                <h1
                                    style="margin: 0; font-size: 32px; font-weight: 700; letter-spacing: -1px; line-height: 48px;">
                                    Confirm Your Identity.</h1>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table border="0" style="max-width: 600px;">
                        <tr>
                            <td
                                style="padding: 24px; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px;">
                                <p th:text="${text}"></p>
                                <p>This code will expire in 10 minutes.</p>
                                <p style="color: #1a82e2;width: 38em;"><code th:text="${otp}"></code></p>
                                <p style="margin: 0;width: auto;">If you didn't create an account with <a
                                        href="#" th:href="@{home}" style="color: #1a82e2;">E-COMMERCE</a>, you can safely delete
                                    this email.</p>
                            </td>
                        </tr>
                        <!-- end copy -->

                        <!-- start button -->
                        <tr>
                            <td>
                                <table border="0">
                                    <tr>
                                        <td style="padding: 12px;">
                                            <table border="0">
                                                <tr>
                                                    <td><input type="hidden" type="text" value=""
                                                            id="myInput">
                                                    </td>

                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td
                                style="padding: 24px; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px; border-bottom: 3px solid #d4dadf">
                                <p style="margin: 0;">Cheers,<br> The Team</p>
                            </td>
                        </tr>
                    </table>

                </td>
            </tr>
        </table>
    </div>
</body>

</html>